extends layout

block content
  div.container-fluid
    div.row.my-3
      div.col-sm
        h4= message
        
    div.row
      div.col-sm
        p= error.status
        
    div.row
      div.col-sm
        pre #{error.stack}
      