extends layout-base

block nav-button
  ul.navbar-nav.ml-auto
    li.nav-item
      if !authenticated
        a.btn.btn-sm.btn-primary.text-light(href='/register') Join
      else
        a.btn.btn-sm.btn-primary.text-light(href='/logout') Log out
