extends layout

block content
  div.container-fluid.max720
    div.row.my-3
      div.col-sm
        h4= title
        
    div.row
      div.col-sm
        if errors 
          for error in errors
            div.alert.alert-danger!=error.msg
            
    div.row.mx-0
      div.col-sm.bg-light.rounded.shadow-sm.p-3
        form(method='POST' action='')

          div.form-group
            label(for='email') Email
            input#email.form-control(type='email', placeholder='john.doe@company.com', name='email', required=true, value=(undefined===attempt ? '' : attempt.email) )

          div.form-group
            label(for='password') Password
            input#password.form-control(type='password', placeholder='', name='password', required=true, value=(undefined===attempt ? '' : attempt.password) )

          
          div.row.mt-5
            div.col-6
              button.btn.btn-primary.w-100(type='submit') Login
              
            div.col-6
              a.btn.btn-secondary.w-100(href='/register') Not an user
              